.container {
  position: relative;
  width: 10em;
  min-height: 1.5em;
  border: 0.05em solid #77777729;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 0.25em;
  outline: none;
  font-size: 0.8em;
  background: url("./icon/calendar_icon.svg") center no-repeat;
  background-position-x: 7.8em;
  padding-right: 1.5em;
  padding-left: 0.6em;
  cursor: pointer;
}

.container:focus {
  border-color: hsl(200, 100%, 50%);
}

.daysPlate {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: calc(100% + 0.25em);
  background-color: white;
  z-index: 100;

  &.show {
    display: block;
  }
}

.calendarWrapper {
  border: 0.05em solid #777;
  border-radius: 0.25em;
  width: 100%;
  padding: 0.5em;
  filter: drop-shadow(2px 2px 2px rgb(102, 98, 98));
  user-select: none;

  &.noShadow3d {
    background-color: var(--White);
  }

  &.night {
    background-color: var(--Medium-grey);
    color: var(--Lines-light);
  }
}

table {
  border-collapse: collapse;

  thead {
    th {
      padding: 0.5em;
    }

    tr {
      border-bottom: 4px solid var(--White);
    }

    & .noShadow3d {
      background-color: var(--White);
      border-bottom: 2px solid var(--Medium-grey);
    }
  }

  td {
    padding: 0.3em;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: var(--Medium-grey);
      color: var(--White);
      font-weight: bold;
    }
  }

  & .weekRed {
    color: red;
  }

  & .today {
    //border: 2px solid var(--Red);
    outline: 2px solid var(--Red);
    outline-offset: -2px;
    font-weight: bold;
  }

  & .weekend {
    background-color: #ff989845;

    &:hover {
      font-weight: bold;
      color: var(--Red);
    }
  }

  & .otherMonth {
    background-color: var(--Lines-light);

    &.weekend {
      color: var(--Red);
    }

    &.selectedDay {
      background-color: #58a4ff;
      font-weight: bold;
      color: var(--White);
    }
  }

  & .selectedDay {
    background-color: #58a4ff;
    font-weight: bold;
    color: var(--White);
  }
}

.controlWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em;
  word-spacing: 0.3em;
  font-size: 1.1em;
  background-color: var(--White);

  & .controlBtnPrev {
    display: block;
    width: 0;
    height: 0;
    border-right: 12px solid #20212cc4;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    cursor: pointer;
    background-color: var(--White);
    padding-left: 0.3em;

    &:hover {
      border-right: 12px solid var(--Red);
    }
  }

  & .controlBtnNext {
    width: 0;
    height: 0;
    border-left: 12px solid #20212cc4;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    cursor: pointer;
    background-color: var(--White);
    padding-right: 0.3em;

    &:hover {
      border-left: 12px solid var(--Red);
    }
  }

  & .currentDate {
  }
}
